In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [16]:
data=pd.read_csv('/workspaces/neurosity-sdk-python/Datas/BaseLineEEG.csv')
#data=pd.DataFrame(data, columns=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K'])
data.head()

,A,B,C,D,E,F,G,H,I,J,K
0,0,-57017.527344,-2742.223389,-1936.085571,704.415161,-18775.730469,-2985.700928,-517.129883,-55278.917969,,1.714827e+12
1,1,-57000.429688,-3279.000488,-2399.101807,651.977966,-18768.691406,-2074.219238,-403.940674,-55267.453125,,1.714827e+12
2,2,-57012.230469,-3232.531250,-2377.577148,626.429932,-18781.765625,-2734.445068,-578.150146,-55305.472656,,1.714827e+12
3,3,-57028.187500,-2661.757080,-1900.479248,691.674622,-18797.255859,-3764.882568,-724.934021,-55315.664062,,1.714827e+12
4,4,-57020.746094,-2604.089600,-1826.182007,722.050659,-18782.167969,-3247.015137,-562.392151,-55280.730469,,1.714827e+12

In [17]:
data.drop("A", axis=1, inplace=True)
# data.drop("J", axis = 0, inplace=True)
data.head()

,B,C,D,E,F,G,H,I,J,K
0,-57017.527344,-2742.223389,-1936.085571,704.415161,-18775.730469,-2985.700928,-517.129883,-55278.917969,,1.714827e+12
1,-57000.429688,-3279.000488,-2399.101807,651.977966,-18768.691406,-2074.219238,-403.940674,-55267.453125,,1.714827e+12
2,-57012.230469,-3232.531250,-2377.577148,626.429932,-18781.765625,-2734.445068,-578.150146,-55305.472656,,1.714827e+12
3,-57028.187500,-2661.757080,-1900.479248,691.674622,-18797.255859,-3764.882568,-724.934021,-55315.664062,,1.714827e+12
4,-57020.746094,-2604.089600,-1826.182007,722.050659,-18782.167969,-3247.015137,-562.392151,-55280.730469,,1.714827e+12

In [18]:
data.describe()

,B,C,D,E,F,G,H,I,K
count,15360.000000,15360.000000,15360.000000,15360.000000,15360.000000,15360.000000,15360.000000,15360.000000,1.536000e+04
mean,-57021.724945,-2344.464795,-1842.784699,2078.415468,-17086.254042,-2815.109141,-670.280567,-48243.180268,1.714827e+12
std,328.904260,382.325355,278.066728,522.575778,627.772269,619.626145,113.305450,4159.733816,1.732172e+04
min,-57941.144531,-3834.620117,-2683.214844,570.639954,-18805.906250,-4431.612793,-901.155151,-55332.496094,1.714827e+12
25%,-57166.423828,-2612.488403,-2069.458252,1778.220764,-17544.396484,-3350.632263,-776.650375,-51995.558594,1.714827e+12
50%,-57017.863281,-2352.900879,-1845.460388,2319.339722,-16948.308594,-2809.211670,-671.155762,-47928.089844,1.714827e+12
75%,-56909.752930,-2045.569916,-1604.899780,2472.862549,-16529.029785,-2257.984070,-567.555420,-44047.571289,1.714827e+12
max,-56138.031250,-1286.856812,-997.714722,2668.395752,-16337.066406,-1488.424805,-313.147888,-42310.640625,1.714827e+12

In [19]:
data["B"] = data["B"]-data["B"].mean()
data["C"] = data["C"]-data["C"].mean()
data["D"] = data["D"]-data["D"].mean()
data["E"] = data["E"]-data["E"].mean()
data["F"] = data["F"]-data["F"].mean()
data["G"] = data["G"]-data["G"].mean()
data["H"] = data["H"]-data["H"].mean()
data["I"] = data["I"]-data["I"].mean()
data["K"] = data["K"]-data["K"].mean()

In [20]:
data.describe()

,B,C,D,E,F,G,H,I,K
count,1.536000e+04,1.536000e+04,1.536000e+04,15360.000000,1.536000e+04,1.536000e+04,15360.000000,1.536000e+04,15360.000000
mean,3.395447e-12,6.063298e-14,-2.273737e-14,0.000000,-2.425319e-13,-1.212660e-13,0.000000,2.910383e-12,-0.000205
std,3.289043e+02,3.823254e+02,2.780667e+02,522.575778,6.277723e+02,6.196261e+02,113.305450,4.159734e+03,17321.717072
min,-9.194196e+02,-1.490155e+03,-8.404301e+02,-1507.775515,-1.719652e+03,-1.616504e+03,-230.874585,-7.089316e+03,-30000.657959
25%,-1.446989e+02,-2.680236e+02,-2.266736e+02,-300.194704,-4.581424e+02,-5.355231e+02,-106.369809,-3.752378e+03,-14997.835083
50%,3.861664e+00,-8.436084e+00,-2.675690e+00,240.924253,1.379454e+02,5.897471e+00,-0.875195,3.150904e+02,1.724976
75%,1.119720e+02,2.988949e+02,2.378849e+02,394.447080,5.572243e+02,5.571251e+02,102.725147,4.195609e+03,15000.496277
max,8.836937e+02,1.057608e+03,8.450700e+02,589.980284,7.491876e+02,1.326684e+03,357.132679,5.932540e+03,29998.079102